<!-- Jquery JS-->
<script src="/scripts/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/scripts/select2.min.js"></script>
<script src="/scripts/moment.min.js"></script>
<script src="/scripts/daterangepicker.js"></script>

<!-- Main JS-->
<script src="/scripts/global.js"></script>>

</body><

</html>