<%- include('../register/header.ejs') %> 
    <div class="container">
        <form class="form-horizontal" role="form" action="/register" method="post">  
                <div class="login_form">
                    <div class="heading">
                        Sign Up
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-sm-3 control-label">First Name*</label>
                        <div class="col-sm-9">
                            <input type="text" id="firstName" placeholder="First Name" class="form-control" name="firstName" autofocus required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-3 control-label">Last Name*</label>
                        <div class="col-sm-9">
                            <input type="text" id="lastname" placeholder="Last Name" class="form-control" name="lastName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label">Username*</label>
                        <div class="col-sm-9">
                            <input type="text" id="username" placeholder="Username" class="form-control" name="username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" id="email" placeholder="Email" class="form-control" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="col-sm-3 control-label">Mobile Number</label>
                        <div class="col-sm-9">
                            <input type="number" id="mobile" placeholder="Mobile Number" class="form-control" name="phoneNo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Password*</label>
                        <div class="col-sm-9">
                            <input type="password" id="password" placeholder="Password" class="form-control" name="password" required>
                            <input type="checkbox" onclick="Toggle()"> 
                            <b>Show Password</b> 
                            <script> 
                                function Toggle() { 
                                    var temp = document.getElementById("password"); 
                                    if (temp.type === "password") { 
                                        temp.type = "text"; 
                                    } 
                                    else { 
                                        temp.type = "password"; 
                                    } 
                                } 
                            </script> 
                        </div>
                    </div>
                    <div class="alter_login">
                        Already have an account? <a href="/login">Sign in</a>
                    </div>
                    <button type="submit" class="raise">Submit</button><br><br>
                </div>

            </form>
    </div>
<%- include('../register/footer') %> 