<%- include('../register/header.ejs') %> 
    <div class="container">
        <form class="form-horizontal" role="form">  
                <div class="login_form">
                    <div class="heading">
                        Registration Form
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-sm-3 control-label">First Name*</label>
                        <div class="col-sm-9">
                            <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-3 control-label">Last Name*</label>
                        <div class="col-sm-9">
                            <input type="text" id="lastname" placeholder="Last Name" class="form-control" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email*</label>
                        <div class="col-sm-9">
                            <input type="email" id="email" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="col-sm-3 control-label">Mobile Number*</label>
                        <div class="col-sm-9">
                            <input type="email" id="mobile" placeholder="Mobile Number" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Password*</label>
                        <div class="col-sm-9">
                            <input type="email" id="password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cpassword" class="col-sm-3 control-label">Confirm Password*</label>
                        <div class="col-sm-9">
                            <input type="email" id="cpassword" placeholder="Re-Enter Password" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="raise">Submit</button><br><br>
                    <div class="alter_login">
                        Already have an account? <a href="#">Sign Up</a>
                    </div>
                </div>

            </form>
    </div>
<%- include('../register/footer') %> 