<!DOCTYPE html>
<html>
    <head>
        <title>doc</title>
    </head>
    <body>
        <style type="text/css">
        iframe{
            padding: auto;
            margin: auto;
            height: 800px;
            width: 800px;
        }
        </style>
        <a href="/">Go back !</a>
        <iframe src="https://www.brownbearsw.com/cal/hello"></iframe>
    </body>
</html>