<%- include('partials/header') %>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="login_form">
                <div>
                    <h3>Sign In</h3><br>
                </div>
                <div>
                    <form action="/login" method="POST">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" name="username">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right login_button">
                        </div>
                    </form>
                </div><br><br><br><br><br>
                <div>
                    <div class="alter_signup">
                        Don't have an account?<a href="#">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>
