<%- include('../problems/header') %>
    <div class="container">
        <h1 class="problems-heading" style="text-align: center; font-size: 50px;">Codeforces Problem Recommender</h1><br>
        <form>
            <div class="row">
            <div class="col-sm-3">
                
            </div>
            <form action="/problem" method="post">
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Enter comma separated tags" name="tag">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="Ratings" name="rating">
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            
            </div>
        </form>
    </div>
<%- include('../problems/footer') %>
