.page-footer {
    color: white;
    padding: 60px 60px;
    padding-top: 60px;
    margin-top: 20px;
}

.btn {
    margin-left: 120px;
    color: white;
    border: 2px solid white;
    background-color: black;
    transition: 0.5s all;
}

.btn:hover {
    color: black;
    background-color: white;
    border: 2px solid white;
}

.list-unstyled {
    font-size: 16px;
    font-family: "Open sans",sans-serif;
    
}


