
.res-circle {
  width: 40px;
  border-radius: 50%;
  line-height: 0;
  background: #1965e0;
  position: relative;
  /* margin-top: 40px; */
  /* margin-left: 800px; */
  margin-top: 12px;
}

.res-circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-txt {
  position: absolute;
  bottom: 26%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: arial, sans-serif;
  font-size: 32px;
}