body {
	margin: 0;
	padding: 0;
}

#menu {
	padding: 0;
	margin: 0;
}

#menu li{
	list-style: none;
	display: inline-block;
}
#menu li a{
	text-decoration: none;
	color: #999ba1;
	position: relative; 
	font-size: 17px;
	font-weight: 500;
	font-family: Ubuntu, sans-serif;
	display: block;
	overflow: hidden;
	transition: 0.5s all;
	padding: 22px 3px;
	margin: 0px 8px;
	padding-bottom: 4px;

}
#menu li a:before{
	content: '';
	width : 300px;
	position: absolute;
	color: #acb6e5;
	/*border-bottom: 3px solid white;*/
	border: 2px solid;
  	border-image-source: linear-gradient(45deg, #acb6e5, #86fde8);
  	border-image-slice: 1;
  	bottom : 0;
	right: 350px;
	transition: 0.5s all;
}

#menu li a:hover:before{
	right: 0;
}

.navbar {
	padding-left: 100px;
	padding-right: 80px;
	background-color: rgb(14,14,14);
	border-radius: 0px;
	height: 70px;
}

.navbar-brand{
	color: white;
	padding-right: 30px;
	padding-top: 22px;
	font-size: 25px;
}

#menu li a:hover{
	color: white;
}