    <script type="text/javascript" src="/scripts/login.js"></script>
    <script>
        $('.close').click(function () {
            $('.popup').fadeOut(1000);
        });
    </script>
</body>
</html>