<%- include('../login/header') %>
    <div class="container popup">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
                <a class = "close">X</a>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
                <a class = "close">X</a>
            </div>
        <% } %>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="login_form">
                <div>
                    <h1>Sign In</h1><br>
                </div><br>
                <div>
                    <form action="/login" method="POST">
                        <div class="form-group ">
                            <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                        </div><br>
                        <div class="form-group">
                            
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                            <span toggle="#password-field" id="eye-icon" class="fa fa-eye" onmouseover="mouseover();"
                            onmouseout="mouseout();"></span>
                        </div><br>
                        <button type="submit" class="raise">Submit</button>
                    </form>
                </div><br><br><br>
                <div>
                    <div class="alter_signup">
                        Don't have an account?<a href="/register"> Sign Up</a>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
<%- include('../login/footer') %> 
