<link rel="stylesheet" href="/stylesheets/footer.css">
<nav class="navbar navbar-inverse" style="background-color: rgb(14,14,14);">
  <footer class="page-footer font-small blue pt-4">
   <div class="container">
    <div class="row">
      
   <p style="text-align:left;">
      <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class="col-md-4 mb-md-0 mb-3">
      
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://www.instagram.com/sakshammahajan_/">Saksham</a>
            </li>
            <li>
              <a href="https://www.instagram.com/nishitsharma03/">Nishit</a>
            </li>
            <li>
              <a href="https://www.instagram.com/shubham.mehra4/">Shubham</a>
            </li>
            <li>
              <a href="https://www.instagram.com/infinitesoul_6125/">Soham</a>
            </li>
          </ul>
      </div>
   </p>
   
   <div class="col-md-4">
    <!-- Logo !---> 
   </div>
  
  <div class="col-md-4">
   <form style="float:right;">
      <div >
        <label for="email">Email address:</label>
        <input type="email" id="email" class="form-control" placeholder="Enter your email" size="85">
      </div><br>
      <div >
        <label for="comment">Your feedback:</label>
        <input type="textarea" id="comment" class="form-control" placeholder="Message">
      </div><br>
    <button type="submit" class="btn btn-primary">Submit</button>
   </form>
  </div>
  
  </div>
  </div>
  </footer>
  </nav>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://www.instagram.com/sakshammahajan_/"> Saksham Mahajan</a>
    </div>
    <br>
  <div class="container">
  © 2020 GitHub, Inc.
  Terms
  Privacy
  Security
  Status
  Help
  Contact GitHub
  Pricing
  API
  Training
  Blog
  About
  </div>
  
  </body>
  </html>