<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="page-footer font-small blue pt-4" style="background-color:  rgb(14,14,14);">
   <div class="container">
    <div class="row">
      
   <p style="text-align:left; font-family: Open sans,sans-serif;">
      <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-4 mb-md-0 mb-3">
      
          <h3 style="font-weight: 550;">Links</h3>
          <hr style="color: white; width: 190px;">
          <ul class="list-unstyled">
            <li>
              <a href="https://www.instagram.com/sakshammahajan_/">Saksham</a>
            </li>
            <li>
              <a href="https://www.instagram.com/nishitsharma03/">Nishit</a>
            </li>
            <li>
              <a href="https://www.instagram.com/shubham.mehra4/">Shubham</a>
            </li>
            <li>
              <a href="https://www.instagram.com/infinitesoul_6125/">Soham</a>
            </li>
          </ul>
      </div>
   </p>
   
   <div class="col-md-4">
      <h1 style="padding-top: 40px; font-size: 60px;">Company</h1>
   </div>
  
  <div class="col-md-4">
   <form style="float:right; padding-left: 40px; padding-top: 20px;">
      <div >
        <label for="email">Email address:</label>
        <input type="email" id="email" class="form-control" placeholder="Enter your email" size="85">
      </div><br>
      <div >
        <label for="comment">Your feedback:</label>
        <!-- <input type="textarea" id="comment" class="form-control" placeholder="Message"> -->
        <textarea id="comment" cols="42" rows="5" class="form-control" placeholder="Comment" style="border-radius: 7px;"></textarea>
      </div><br>
    <button type="submit" class="btn btn-primary">Submit</button>
   </form>
  </div>
  
  </div>
  </div>
  <br><br><br>
  </nav>
    <div class="footer-copyright text-center py-3" style="font-size: 16px;">© 2020 Copyright:
      <a href="https://www.instagram.com/sakshammahajan_/"> Saksham Mahajan</a>
    </div>
    <br><br>
  <div class="container" style="text-align: center; font-size: 16px;">
  © 2020 GitHub, Inc.
  Terms
  Privacy
  Security
  Status
  Help
  Contact GitHub
  Pricing
  API
  Training
  Blog
  About
  </div>
</footer>
  </body>
  </html>