<%- include('../main/header') %>
<div class="container">
    <h1 style="text-align: center;">This is the homepage.</h1> 
    <h3>List of the contests:</h3>
    <% for (let i = 0; i < Object.keys(data).length; i++) { %>
        <a href=" <%= data[i]["href"] %> </a>"><%= data[i]["event"]%></a>
        <br> 
    <% } %> 
    <img src="../icons/B.png" alt="">
    <a href="/calender">View trial calender</a>
    <br>
</div>
<%- include('../main/footer') %>
