<%- include('../main/header') %>

    <h1>This is the homepage.</h1>
    <br><br><br>
    <a href="/login"> Login</a>
    <br>
    <a href="/register">Register</a>
    <br>
<%- include('../main/footer') %>
