<!DOCTYPE html>
<html>
<head>
  <title>BTP</title>
  <style type="text/css" href="feedback_form.css"></style>
  <!--- Bootstrap main file !---> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--- Fontawesome main file !--->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!--- jQuery !--->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <!--- Bootstrap Logos !--->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<footer class="page-footer font-small blue pt-4">
 <div class="container">
	<div class="row">
	  
 <p style="text-align:left;">
    <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-4 mb-md-0 mb-3">
    
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.instagram.com/sakshammahajan_/">Saksham</a>
          </li>
          <li>
            <a href="https://www.instagram.com/nishitsharma03/">Nishit</a>
          </li>
          <li>
            <a href="https://www.instagram.com/shubham.mehra4/">Shubham</a>
          </li>
          <li>
            <a href="https://www.instagram.com/infinitesoul_6125/">Soham</a>
          </li>
        </ul>
	  </div>
 </p>
 
 <div class="col-md-4">
 	<!-- Logo !--->	
 </div>

<div class="col-md-4">
 <form style="float:right;">
    <div >
      <label for="email">Email address:</label>
      <input type="email" id="email" class="form-control" placeholder="Enter your email" size="85">
    </div><br>
    <div >
      <label for="comment">Your feedback:</label>
      <input type="textarea" id="comment" class="form-control" placeholder="Message">
    </div><br>
  <button type="submit" class="btn btn-primary">Submit</button>
 </form>
</div>

</div>
</div>
</footer>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.instagram.com/sakshammahajan_/"> Saksham Mahajan</a>
  </div>
  <br>
<div class="container">
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
</div>

</body>
</html>
