<!DOCTYPE html>
<html>
<head>
	<title>Problems</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/problem-search.css">
</head>
<body>


<div class="container">
  <h1 class="problems-heading" style="text-align: center; font-size: 50px;">Codeforces Problem Recommender</h1><br>
  <form>
    <div class="row">
      <div class="col-sm-3">
        
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="Enter comma separated tags">
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" placeholder="Ratings">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>

</div>

</body>
</html>
