<!DOCTYPE html>
<html>
<title>About us</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>



<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>RESOURCES</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">BTP Project</h1>
  <p>We have Used the best resources out there for you better practice and Improvement.
      
    </p>
</header>



    </div>
</div>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Leet Code</h3><br>
  <img src="https://leetcode.com/static/images/LeetCode_logo.png" style="width:168px;height:168px; "></i>
  <p>It's a website where people–mostly software engineers–practice their coding skills. There are 800+ questions (and growing), each with multiple solutions. Questions are ranked by level of difficulty: easy, medium, and hard. </p><br>
  
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>SPOJ</h3><br>
  <img src="https://d33wubrfki0l68.cloudfront.net/87ddd9f20eb73ed2b6094996068387db618ccda6/d1dde/img/uploads/spoj.jpg" style="width:168px;height:168px; "></i>
  <p>SPOJ is an online judge system with over 640,000 registered users and over 20,000 problems. Tasks are prepared by its community of problem setters or are taken from previous programming contests.  </p><br>
  
  </div>
</div>
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>HackerEarth</h3><br>
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/HackerEarth_logo.png" style="width:168px;height:168px; "></i>
  <p>HackerEarth provides enterprise software that helps organisations with their technical hiring needs. HackerEarth is used by organizations for technical skill assessment and remote video interviewing. In addition to that HackerEarth also has a community and since inception built a base of 4M+ developers. </p><br>
  
  </div>
</div>
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Top Coder</h3><br>
  <img src="https://www.betterteam.com/i/topcoder-job-posting-1024x512-20190109.png" style="width:168px;height:168px; "></i>
  <p>Topcoder is a crowdsourcing company with an open global community of designers, developers, data scientists, and competitive programmers. Topcoder pays community members for their work on the projects and sells community services to corporate, mid-size, and small-business clients. </p><br>
  
  </div>
</div>
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>CodeChef</h3><br>
  <img src="https://www.codechef.com/misc/fb-image-icon.png" style="width:168px;height:168px;">
  <p>CodeChef is a competitive programming website. It is a non-profit educational initiative of Unacademy, aimed at providing a platform for students. Apart from this, the 'CodeChef For Schools' program aims to reach out to young students and inculcate a culture of programming in Indian schools.</p><br>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Codeforces</h3><br>
  <img src="https://image.winudf.com/v2/image/Y29tLlNvZnRUZWNocy5Db2RlRm9yY2VzX2ljb25fMF9jOTA3NjNhMA/icon.png?w=170&fakeurl=1" style="width:168px;height:168px;">
  <p>It is maintained by a group of competitive programmers from ITMO University led by Mikhail Mirzayanov. Since 2013, Codeforces claims to surpass Topcoder in terms of active contestants. As of 2018, it has over 600,000 registered users.</p><br>
  </div>
</div>
</div>
